{% extends 'simple.html' %} {% load static %} {% block content %}
<div class="wrapper">
  <section class="login-content">
    <div class="container">
      <div
        class="row align-items-center justify-content-center height-self-center"
      >
        <div class="col-lg-8">
          <div class="card auth-card">
            <div class="card-body p-0">
              <div class="d-flex align-items-center auth-content">
                <div class="col-lg-6 bg-primary content-left">
                  <div class="p-3">
                    <h2 class="mb-2 text-white">Reset Password</h2>
                    <p>
                      Enter your email address and we'll send you an email with
                      instructions to reset your password.
                    </p>
                    <form>
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="floating-label form-group">
                            <input
                              class="floating-input form-control"
                              type="email"
                              placeholder=" "
                            />
                            <label>Email</label>
                          </div>
                        </div>
                      </div>
                      <button type="submit" class="btn btn-white">Reset</button>
                    </form>
                  </div>
                </div>
                <div class="col-lg-6 content-right">
                  <img
                    src="{% static 'images/login/01.png' %}"
                    class="img-fluid image-right"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

{% endblock content %}
