<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <!-- Backend CSS -->
    <link rel="stylesheet" href="{% static 'css/backend.css' %}" />

    <!-- line-awesome CSS -->
    <link
      rel="stylesheet"
      href="{% static 'vendor/line-awesome/dist/line-awesome/css/line-awesome.min.css' %}"
    />

    <!-- remixicon CSS -->
    <link
      rel="stylesheet"
      href="{% static 'vendor/remixicon/fonts/remixicon.css' %}"
    />
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
  </head>

  <body>
    <div id="loading">
      <div id="loading-center"></div>
    </div>
    <div class"wrapper">
    {% include 'parts/side-nav.html' %}
    {% include 'parts/top-nav.html' %}
    {% block content %}

    {% endblock content %}
    </div>
    <script src="{% static 'js/backend-bundle.min.js' %}"></script>

    <!--  Flextree -->
    <script src="{% static 'js/flex-tree.min.js' %}"></script>
    <script src="{% static 'js/tree.js' %}"></script>

    <!-- Table Treeview Javascript -->
    <script src="{% static 'js/table-treeview.js' %}"></script>

    <!-- Masonary Javascript -->
    <script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>

    <!-- SweetAlert Javascript -->
    <script src="{% static 'js/sweetalert.js' %}"></script>

    <!-- Vectoe Map Javascript -->

    <!--  Customizer Javascript  -->
    <script src="{% static 'js/customizer.js' %}"></script>

    <!-- Chart Custom JavaScript -->
    <script src="{% static 'js/chart-custom.js' %}"></script>

    <!-- Slider JavaScript -->
    <script src="{% static 'js/slider.js' %}"></script>

    <!-- App JavaScript -->
    <script src="{% static 'js/app.js' %}"></script>
  </body>
</html>
