-r requirements.txt

# for generation of requirements
pip-tools==7.1.0

# for linting
flake8==6.0.0
black==23.7.0
curlylint
pre-commit==3.3.3

# for debugging
django-debug-toolbar==4.1.0
ipdb==0.13.13

# for tests
factory-boy==3.3.0
time-machine==2.11.0
