-r requirements.txt

# for generation of requirements
pip-tools==7.3.0

# for linting
flake8==6.1.0
black==23.9.1
curlylint
pre-commit==3.5.0

# for debugging
django-debug-toolbar==4.2.0
ipdb==0.13.13

# for tests
factory-boy==3.3.0
time-machine==2.12.0
