:root {
    /* Font family */
    --primary-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --secondary-font: 'Open Sans', sans-serif;

    /* Typography */
    --line-height: 1.5;
    --letter-spacing: 0.05em;

    /* Font size */
    --base-font-size: 16px;
    --heading-large: 2.5rem;
    --heading-small: 1.5rem;
    --link: 1rem;
    --button: 1.2rem;
}

/* Primary elements */
.primary {
    font-family: var(--primary-font);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);
}

/* Secondary elements */
.secondary {
    font-family: var(--secondary-font);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);
    font-weight: bold;
}

h1, .h1 {
    font-size: var(--heading-large);
}

h2, .h2 {
    font-size: var(--heading-small);
}

/* Links */
a, .button {
    font-family: var(--primary-font);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);
    font-size: var(--link);
}

/* Buttons */
button, .a {
    font-family: var(--primary-font);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);
    font-size: var(--button);
}
